body {
    background-color: #1f1f1f;
    color: #fff;
    padding:0px;
    font-family: "Arial",sans-serif;
}

header {
    padding: 20px;
    background-color: #333;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition effect */
}

nav ul li a:hover {
    color: #ffa500; /* Change color on hover */
}
.contact-button a {
    border-radius:5px;
    border: 2px solid yellow;
    padding: 5px 10px; 
}
.home {
    font-weight: bolder;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 125px;
    color: #033E3E; /* Set text color to red */
    text-shadow: 2px 2px 4px white, -2px -2px 4px white, 2px -2px 4px white, -2px 2px 4px white; /* White shadow around the text */
}

.flex-container {
  display: flex;
  height: 50vh;
  flex-direction: row;

}

.flex-item {
  flex: 1;
  padding: 20px;
  /*border: 1px solid #ccc;*/
  text-align: center;
}
.ho{
    font-weight: bolder;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

}

.image{
    width: 25vw;
    height: 50vh;
}

.download-button {
  background-color: #333; /* Dark background color */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bolder;
  border: 1px solid #ffa500;
}

.download-button:hover {
  background-color:  #ffa500; /* Lighter color on hover */
}
.container-2 {
    padding: 30px;
    background-color: #1f1f1f;
}
.p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffa500;
    position: relative; /* Added */
}

.p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Changed from top */
    height: 2px; /* Adjust as needed */
    width: 100%;
    background-color: #ffa500;
    transform: scaleX(0); /* Initially not visible */
    transform-origin: bottom;
    transition: transform 0.3s ease; /* Transition effect */
}

.p:hover::after {
    transform: scaleX(1); /* Scale up to show underline */
}

.about {
    background-color: #1f1f1f;
}

.about p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.education-container {
  display: flex;
}

.education-option {
  cursor: pointer;
  padding: 10px;
  margin-right: 50px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  text-align: center;
  width: 40vw;
  color: #ffa500;
  font-weight: bold;
  margin-left: 50px;
  transition: transform 0.3s ease; /* Added transition property for transform and border */
}

.education-option:hover {
  transform: scale(1.05); /* Scale up on hover */
  border: 2px solid #ffa500; /* Border increase on hover */
}


.details {
  display: none;
  text-align: center;
}

.details.active {
  display: block;
}
.box{
    background-color: #333;
    padding:30px;
    width: 40vw;
    border-radius: 20px;
    border: 3px solid #ffa500;
    margin-top: 20px;
    margin-left: 25%;
}
.box p{
    font-family:"poppins", sans-serif ;
}
.skills{
    margin-top: 30px;
}
.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.flex-item1 {
  flex: 1 0 300px;
  border: 1px solid #ffa500;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  height: 15vh;
  max-width: 25%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
}

.flex-item1:hover {
  animation: zoomIn 0.5s forwards;
}

.flex-item1:active {
  animation: zoomOut 0.5s forwards;
}
.flex-item2 {
  flex: 1 0 300px;
  border: 1px solid #ffa500;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  height: 25vh;
  max-width: 25%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
}

.flex-item2:hover {
  animation: zoomIn 0.5s forwards;
}

.flex-item2:active {
  animation: zoomOut 0.5s forwards;
}
.img{
    border-radius: 10px;
    margin-top: 10px;
    height:12vh;
    width:10vw;
     border: 1px solid #ffa500;
}
.flex-item2 p{
color: white;
}
.flex-item3{
    font-size: 20px;
    margin-left: 10px;
}
.ads{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.ad{
    font-size: 14px;
    color:ghostwhite;
}
.adi{
    font-size: 20px;
    color: lightgoldenrodyellow;
    text-decoration: none;
}
.flex-item3 {
  flex: 1;
  box-shadow: 0 0 10px #ffa500;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;  
  border-radius: 20px;
  text-align: center;
  height: 67vh;
  max-width: 100%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
}
.map{
    width: 400px;
    height: 230px;
    border-radius: 5px;
     border: 1px solid #ffa500;
}
.container3 {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: left;
    height:60vh;
    margin-left: 30px;
  }
  
  .container3 label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
    font-size: 18px;
  }
  
  .container3 input[type="text"],
  .container3 input[type="email"],
  .container3 textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffa500;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .container3 textarea {
    height: 100px;
  }
  
  .container3 input[type="submit"] {
    background-color: #333; /* Dark background color */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bolder;
  border: 1px solid #ffa500;
  }
  
  .container3 input[type="submit"]:hover {
    background-color: #ffa500;
  }
.dec{
    margin-top: 40px;
}
.dec p{
    text-align: center;
    color: #ffa500 ;
}
.dec span{
    color: white;
}

.footer{
border-radius: 20px;
   background-color: #333;
   height: 50px;
}
.footer p{
     padding-top: 15px;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
.image{
  display:none;
}
.item2 {
  display: none;
}
.education-option {
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
  width: 50vw;
  margin-left: 20px;

}
.flex-container1 {
  display: flex;
  margin-left: 10%;
}
.flex-item1 {
  flex: 1 0 300px;
  border: 1px solid #ffa500;
  padding: 20px;
  margin-left: 5%;
  margin-right: 10%;
  border-radius: 20px;
  text-align: center;
  height: 15vh;
  max-width: 100%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
}
.flex-item2 {
  flex: 1 0 300px;
  border: 1px solid #ffa500;
  padding: 20px;
  margin-left: 5%;
  margin-right: 10%;  
  border-radius: 20px;
  text-align: center;
  height: 25vh;
  max-width: 100%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
}
.flex-item3 {
  flex: 1 0 300px;
  border: 1px solid #ffa500;
  padding: 20px;
  margin-left: 5%;
  margin-right: 10%;  
  border-radius: 20px;
  text-align: center;
  height: 35vh;
  max-width: 100%;
  background-color: #333;
  color: #ffa500;
  font-weight: bolder;
  margin-bottom: 15px;
}
.img{
    border-radius: 10px;
    margin-top: 10px;
    height:12vh;
    width:40vw;
     border: 1px solid #ffa500;
}
}